.weather-card-day {
    background-color: var(--weather-section-bg-color);
    border: 2px solid var(--weather-card-border-color);
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .weather-card-day h3, .weather-card-day p {
    margin: 0;
  }
  