.app-grid {
  display: grid;
  grid-template-areas:
    'header header header'
    'search search search'
    'sidebar weather weather';
  grid-template-columns: 300px 1fr 1fr;
  grid-template-rows: auto 1fr 3fr;
  gap: 10px;
  height: 100vh;
}

.header {
  grid-area: header;
}

.search-section {
  grid-area: search;
}

.sidebar {
  grid-area: sidebar;
}

.weather-section {
  grid-area: weather;
}

@media (max-width: 768px) {
  .app-grid {
    grid-template-areas:
    'header'
    'search'
    'sidebar'
    'weather';
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 1fr;
  }

  .sidebar, .weather-section {
    grid-template-columns: 1fr;
  }
}