.app-grid {
  display: grid;
  grid-template-areas:
    'header header header'
    'search search search'
    'sidebar weather weather';
  grid-template-columns: 300px 1fr 1fr;
  grid-template-rows: auto 0.6fr 3fr;
  gap: 0;
  height: 100vh;
  margin: 0;
  background-color: var(--background-color);
}

.header, .search-section, .sidebar, .weather-section {
  color: var(--text-color);
}

.header {
  grid-area: header;
  background-color: var(--header-bg-color);
}

.search-section {
  grid-area: search;
  background-color: var(--search-section-bg-color);
}

.sidebar {
  grid-area: sidebar;
  background-color: var(--sidebar-bg-color);
}

.weather-section {
  grid-area: weather;
  background-color: var(--weather-section-bg-color);
}

@media (max-width: 768px) {
  .app-grid {
    grid-template-areas:
    'header'
    'search'
    'sidebar'
    'weather';
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 1fr;
  }

  .sidebar, .weather-section {
    grid-template-columns: 1fr;
  }
}