.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-bg-color);
  color: var(--text-color);
  padding: 2vh 20px;
}

.theme-toggle-button {
  background: none;
  border: none;
  cursor: pointer;

  img {
    width: 24px;
    height: auto;
  }
}