.search-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.search-section h2 {
  font-size: 1.5rem;
  color: var(--text-color);
  margin-bottom: 1rem;
  font-weight: bold;
  text-align: center;
}

.search-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.search-bar {
  width: 300px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
}