.search-button {
  padding: 10px;
  border-radius: 20%;
  border: 2px solid var(--search-button-border-color);
  cursor: pointer;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 50%;
    height: auto;
    max-width: 30px;
  }
}